@using System.Data;
@model DataTable;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="pagetitle">
    <h1>Country List</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item active"><a asp-controller="Student" asp-action="StudentList">Student List</a></li>
        </ol>
    </nav>
</div>
<div>
    <a class="btn btn-success btn-add" asp-area="Student" asp-controller="Student" asp-action="StudentAddEdit">Add</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th class="col">Student Name</th>
            <th class="col">MobileNoStudent</th>
            <th class="col">Email</th>
            <th class="col">MobileNoFather</th>
            <th class="col">Address</th>
            <th class="col">BirthDate</th>
            <th class="col">BranchName</th>
            <th class="col">CityName</th>
            <th class="col">Action</th>


        </tr>
    </thead>
    <tbody>

        @foreach (DataRow dr in Model.Rows)
        {
            <tr>
                <td>@dr["StudentName"]</td>
                <td>@dr["MobileNoStudent"]</td>
                <td>@dr["Email"]</td>
                <td>@dr["MobileNoFather"]</td>
                <td>@dr["Address"]</td>

                <td>@Convert.ToDateTime(dr["BirthDate"].ToString())</td>
                <td>@dr["BranchName"]</td>
                <td>@dr["CityName"]</td>
                <td>
                    <a type="button" class="btn btn-danger" asp-area="Student" asp-controller="Student" asp-action="StudentDelete" asp-route-StudentId="@Convert.ToInt32(dr["StudentId"])"><i class="bi bi-trash"></i></a>
                    <a type="button" class="btn btn-success" asp-area="Student" asp-controller="Student" asp-action="StudentAddEdit" asp-route-StudentId="@Convert.ToInt32(dr["StudentId"])"><i class="bi bi-brush"></i></a>


                </td>

            </tr>
        }



    </tbody>
</table>