@using System.Data;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="pagetitle">
        @if (TempData["StudentInsertMsg"]==null)
        {
        
        }
        else
        {
            <h3 class="alert alert-success alert-dismissible fade show">@TempData["StudentInsertMsg"]</h3>
        
        }
    <h1>Student List</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item active"><a asp-controller="Student" asp-action="StudentList">Student List</a></li>
        </ol>
    </nav>
</div>
<div>
    <a class="btn btn-success btn-add" asp-area="Student" asp-controller="Student" asp-action="StudentAddEdit">Add</a>
    <a class="btn btn-success" asp-area="Student" aspcontroller="Student" asp-action="ExportStudentsToExcel">
        <i class="fa-solid fa-file-excel"></i><span> Export Excel</span>
    </a>
</div>


<div class="table-responsive">
<table class="table table-striped">
    <thead>
        <tr>
            <th class="col">First Name</th>
            <th class="col">Last Name</th>
            <th class="col">Gender</th>
            <th class="col">Enrollment No.</th>
            <th class="col">Course</th>
            <th class="col">Branch</th>
            <th class="col">Is On Roll</th>
            <th class="col">Actions</th>


        </tr>
    </thead>
    <tbody>

        @foreach (DataRow dr in Model.Rows)
        {
            <tr>
                <td>@dr["FirstName"]</td>
                <td>@dr["LastName"]</td>
                <td>@dr["Gender"]</td>
                <td>@dr["EnrollmentNo"]</td>
                <td>@dr["CourseName"]</td>
                <td>@dr["BranchName"]</td>
                <td>@dr["IsOnRoll"]</td>
                <td>
                    <a type="button" class="btn btn-danger" asp-area="Student" asp-controller="Student" asp-action="StudentDelete" asp-route-StudentID="@Convert.ToInt32(dr["StudentID"])"><i class="bi bi-trash" onclick="return fun1()"></i></a>
                    <a type="button" class="btn btn-success" asp-area="Student" asp-controller="Student" asp-action="StudentAddEdit" asp-route-StudentID="@Convert.ToInt32(dr["StudentID"])"><i class="bi bi-brush"></i></a>
                        <a type="button" class="btn btn-primary" asp-area="Student" asp-controller="Student" asp-action="StudentDetails" asp-route-StudentID="@Convert.ToInt32(dr["StudentID"])"><i class="ri-list-check-2"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>
@section Scripts
{
    <script>
        function fun1() {
            if (confirm("Are you sure you want to delete?")) {
                return true;
            }
            else {
                return false;
            }
        }
    </script>
}